/* Este es para el index.html */

.header{
    text-align: center;
    background-image: linear-gradient(#edd51d, #dd8f5b);
}

.navbar{
    background-color: #D0F2FD;
}

.caja{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   line-height: 100px;
}

.caja h2{
    border: 2px solid #000;
    padding: 50px;
    margin-top: 20px;
    font-size: 40px;
    color: #D55672;
    text-align: center;
}

.caja p{
    border: 2px solid #000;
    padding: 30px;
    margin-top: 20px;
    font-size: 30px;
}

.slider{
    margin-bottom: 15px;
}

footer{
    background: #D0F2FD;;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

footer li>a{
    text-decoration: none;

}

/* media para ajustes */

@media (max-width: 1000px){

    .caja p{
        font-size: 28px;
        text-align: center;
        padding: 28px;
    }
}

@media (max-width: 550px){
    .caja h2{
        font-size: 30px;
        padding: 40px;
    }
}

@media(max-width:450px){
    .caja h2{
        font-size: 25px;
        padding: 30px;
    }

    .caja p{
        font-size: 20px;
        padding: 30px;
        line-height: 40px;
    }
}
   

/* *{
    margin: 0px;
    padding: 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    grid-template-areas: 
    "header header header header header"
    "menu menu menu menu menu"
    "aside contenido contenido contenido contenido"
    "footer footer footer footer footer";

    grid-gap: 20px;

    width: 90%;
    height: 1000px;
    margin: 0px auto;
    border: 2px solid #ccc;

}

.grid .header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(#edd51d, #dd8f5b);
    color: #000;
}

.grid .menu{
    grid-area: menu;
    background-color: #D0F2FD;
    color: #000;
    line-height: 70px;
}

.grid .menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
}

li>a{
    text-decoration: none;

}

a:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: .4s;
}

.grid .contenido{
    grid-area: contenido;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 15px;
}

.grid .article_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #D55672;

    background-image: linear-gradient(#6297e7, #3aafb1);
    border: 1px solid #555;
    border-radius: 20px;
}

.grid .article_2{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    font-family: 'Inter' sans-serif;
    font-size: 45px;
    background-image: linear-gradient(#6297e7, #3aafb1);
    color: #fff;
    border: 1px solid #555;
    border-radius: 20px;
}

.grid .aside{
    grid-area: aside;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
    font-family: 'Inter' sans-serif;
    background-image: linear-gradient(#f72585, #3a0ca3);
    color: #fff;
}

.aside img{
    margin-top: 30px;
}

.grid .footer{
    grid-area: footer;
    background-color: #D0F2FD;
    color: #000;
    line-height: 70px;
}

.grid .footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    list-style: none;
}

/* aqui van los @media */

/* @media (max-width: 1279px){

    .grid .contenido{
        grid-gap: 10px;
    }
    
    .grid .article_1{
        font-size: 35px;
    }

    .grid .article_2{
        text-align: center;
        font-size: 30px;
    }

    .aside img{
        margin-top: 25px;
        width: 280px;
        height: 180px;
    }

}

@media (max-width: 769px){

    .grid .article_1{
        font-size: 25px;
    }

    .grid .article_2{
        text-align: center;
        font-size: 20px;
    }

    .aside img{
        width: 230px;
        height: 150px;
        margin-top: 25px;
    }
}

@media (max-width:592px){

    .grid .header{
        font-size: 10px;
    }

    .grid .menu ul{
        font-size: 15px;
    }

    .grid .article_1{
        font-size: 15px;
    }

    .grid .article_2{
        text-align: center;
        font-size: 20px;
    }

    .aside img{
        width: 150px;
        height: 130px;
    }

    .grid .footer .menu {
        font-size: 15px
    }
    
} */ 