.container ul{
    list-style: none;
}

li>a{
    text-decoration: none;
}

.header{
    text-align: center;
    background-image: linear-gradient(#edd51d, #dd8f5b);
}

.navbar{
    background: #D0F2FD;
    color: #000;
    font-weight: 500;
}

.card-header h2{
    color: #D55672;
    font-size: 30px;
}

footer{
    background: #D0F2FD;
    color: #000;
    font-weight: 500;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

footer li>a{
    text-decoration: none;

}