// para cabecera de la pagina

$titulo: linear-gradient(#edd51d, #dd8f5b);

// para barra de navegacion

$barra: #D0F2FD;

// para subtitulos, contendio y links 

$titulo1: #fff;
$subtitulo: #d55672;
$contenido: #000;
$border: #000;
