// tamaño fuente para titulos

$size-titulo: 40px;

// tamaño de titulo para @media

//max-width: 550px

$size-titulo1: 30px;

// max-width 450px

$size-titulo2: 25px;

//tamaño fuente para contenido 

$size-contenido: 35px;

//tamaño fuente para contenido @media

//max-width: 1000px

$size-contenido1: 28px;

//max-width 450px

$size-contenido2: 20px;