@import './colors';
@import './font';
@import './size';
@import './mixins';
@import './maps';
@import './extend';

// para todos 
header{
    @include header;
}

nav{
    background-color: map-get($estilo, "background");
    font-weight: map-get($estilo, "weight");
}

footer{
    background-color: map-get($estilo, "background");
    font-weight: map-get($estilo, "weight");

    ul{
        @include ul;
    }

    a{
        text-decoration: none;
    }
}

// index.html

.content{

    .caja{
        @include caja;
    }

    h2{
        @include caja_h2;
        font-family: $font-content;
        font-size: $size-titulo;
        color: $subtitulo;
        border: 2px solid $border;

    }

    p{
        padding: 30px;
        margin-top: 20px;
        font-family: $font-content;
        font-size: $size-contenido;
        text-align: center;
        border: 2px solid $border;
    }

    .slider{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

//maquinas.html

.content_2{
    h2{
        @extend %sub;
        border: 2px solid $border;
    }

    ul>li{
        list-style: none;
    }
}

//servicios.html

.card-header{
    h2{
        @extend %sub;
    }

    p{
        @extend %parrafo;
        line-height: 70px;
    }
}


// acerca de.html

.card{

    line-height: 50px;

    h2{
        margin-top: 15px;
        font-family: $font-content;
        font-size: $size-contenido;
        color: $subtitulo;
    }

    p{
        font-family: $font-content;
        font-size: $size-contenido;
    }
}

//contacto.html

.form{
    h2{
        @extend %sub;
    }

    p{
        @extend %parrafo;
    }
}